<header class="header">
  <div class="header-inner">
    <div class="header-left-nav">
        <a href="/"><img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
        <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
        <div class="header-sharch d-lg-inline-block d-none">
          <input type="text" name="area" id="area" value="" class="form-control" placeholder="エリア">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="header-sharch d-lg-inline-block d-none">
          <input type="text" name="keyword" id="keyword" value="" class="form-control" placeholder="キーワード">
          <i class="fas fa-search"></i>
        </div>
</form>    </div>
    <div class="header-right-nav">
      <div class="nav-item d-sm-inline-block d-none">
      </div>
      <div class="nav-item">
        <% current_user = User.find_by(id: session[:user_id])%>
      <ul>
        <% if current_user %>
        <li><%= link_to("ログアウト", "/logout",{method: "post"}) %></li>
        <li><%= link_to(current_user.name, "/users/#{current_user.id}") %></li>
        <% else %>
        <li><%= link_to "新規登録", :new_user %></li>
        <li><%= link_to("ログイン", "/login") %></li>
        <% end %>
      </ul> 
    
</div>
    </div>
    </header>
    
    <body>    
<div class="form-area">
  <% if flash.notice %>
      <p class="flash"><%= flash.notice %></p>
    <% end %>
  <h2 class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</h2>
  <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
  <input type="text" name="area" id="area" value="" class="form-control mb-4" placeholder="東京">
  <input type="submit" name="commit" value="探す" class="form-control btn-primary mb-4" data-disable-with="探す">
</form>                    
</div>

<div class="panel-area m-5">
  <h1 class="section-title">おすすめのエリア</h1>
  <div class="row">
  <div class="panel-item col-lg-3 col-6">
    <span>東京</span>
  <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9D%B1%E4%BA%AC"><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"></a>
<div class="shadow"></div>
</div>
<div class="panel-item col-lg-3 col-6">
    <span>大阪</span>
 <a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E5%A4%A7%E9%98%AA"><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"></a>
<div class="shadow"></div>
                </div>
<div class="panel-item col-lg-3 col-6">
    <span>京都</span>
<a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E4%BA%AC%E9%83%BD"><img class="panel-image shadow" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg"></a>
<div class="shadow"></div>
                </div>
<div class="panel-item col-lg-3 col-6">
    <span>札幌</span>
<a href="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search?area=%E6%9C%AD%E5%B9%8C"><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg"></a>
           <div class="shadow"></div>
                </div>
            </div>
        </div>
</body>
<footer class="footer">
    <p>© 2020 POTEPAN.INC.</p>
</footer>