 <h3>ユーザー詳細</h3>
 <%= image_tag @user.image %>
    
    <table>
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
 
    <div>
      <ul>
        <li><%= link_to "編集", [:edit, @user] %></li>
        <li><%= link_to "トップに戻る", :users %></li>
      </ul>
    </div>